extends ../shared/template
block content
  h2 Messages
  .panel.panel-default
    .panel-body
      .row
        .col-xs-12
          table.table
            thead
              tr
                th From
                th Date
                th Message
            tbody
              each message in messages
                tr(style="background-color:#{(message.isRead) ? 'white' : 'whitesmoke'};")
                  td: a(href='/users/#{message.fromEmail}')= message.fromName
                  td= moment(message.sent).format('MMM Do YY')
                  td: a(href='/messages/#{message._id}')= message.body.substr(0, 10)

block scripts

